body { font-family: arial; text-align: center; }
#canvas_wrapper
{ width: 810px; height: 356px; margin: 0 auto; overflow: hidden; }
#canvas
{ 
  width: 810px; height: 360px; position: relative;
  background: url('../images/game_bg.png') no-repeat top left; 
}

#wave_front
{ background: url('../images/wave_front.gif') no-repeat top left; bottom: 0px; width: 100%; height: 35px; position: absolute; z-index: 99; }
#wave_mid
{background: url('../images/wave_mid.png') no-repeat top left; bottom: 0px; width: 100%; height: 42px; position: absolute; }

#bubbles
{ background: url('../images/bubbles.gif') no-repeat top left; bottom: -23px; width: 100%; height: 42px; position: absolute; left: 0px; }

#yukyuk
{ background: url('../images/yukyuk_ani.gif') no-repeat top left; width: 304px; height: 264px; position: absolute; bottom: 0px; right: 0px; } 
  #score_bubble_wrapper
  { position: relative; }
    #score_bubble
    { position: absolute; left: 210px; top: -74px; background: url('../images/score_bubble.png') no-repeat top left; width: 92px; height: 94px; }
      #score
      { font-size: 40px; width: 100px; text-align: center; color: #f4f4f4; margin-top: 20px; }
  
  #mouth
  { background: url('../images/mouth_close.png') no-repeat top left; width: 112px; height: 95px; position: absolute; bottom: 40px; left: 70px; }

  #yukyuk.open #mouth
  { background: url('../images/mouth_open.png') no-repeat top left !important; }


.bb
{ border: 1px solid red; position: absolute;}




#volcano 
{ position: absolute; background: url('../images/volcano_new.gif') no-repeat top left; width: 149px; height: 105px; bottom: 0px; left: 20px; }

  #volcano.erupt
  { background: url('../images/volcano_new_ani.gif'); }
  
  #flies
  { background: url('../images/flies.gif') no-repeat top left; position: absolute; bottom: 50px; left: 20px; width: 188px; height: 154px; }


.cloud
{ background: url('../images/cloud.png') no-repeat top left; width: 58px; height: 20px; position: absolute; }
  #cloud1
  { top: 25px; left: 40px; }
  #cloud2
  { top: 74px; left: 680px }
  #cloud3
  { top: 110px; left: 5230px}
  #cloud4
  { top: 130px; left:  300px;}
  #cloud5
  { top: 145px; left:  500px;} 


.critter
{ position: absolute; background: transparent url('../images/ani_critter_2.gif') no-repeat top left; width: 29px; height: 29px; }
  .ham
  { background: transparent url('../images/ani_ham.gif') !important; width: 50px; height: 50px}
  
  .icecream
  { background: transparent url('../images/ani_icecream.gif') !important; width: 41px; height: 41px }
  
  .chainsaw
  { background: transparent url('../images/ani_chainsaw.gif') !important; width: 37px; height: 38px }
  
  